---
import "@css/contentCommon.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";

import { render_anotherGrass, render_ballThing, render_cheesepot, render_cooler, render_cuteRoom, render_donut2, render_eyebowl, render_factory, render_factory2, render_family2, render_geo, render_gpu7, render_gtx2, render_hills3, render_horns4, render_meltingSun, render_mountain, render_spaceBall, render_swordInTheWoods7 } from "@scripts/build/imageImports";
---

<BaseLayout title="Lenny Siol" header="Lenny Siol" subHeader="Games Engineer">
  <div class="row">
    <div class="main">
      <div class="ComputerBuildingGame">
        <h2>Here you can find a selection of my Blender renders.</h2>
        <a href="https://www.behance.net/lennysiol" target="_blank">More</a>
        <h1>Geometry Nodes</h1>
        <Image src={render_hills3} alt="A proceduraly generated landscape on a hexagonal grid" />
        <Image src={render_anotherGrass} alt="Proceduraly placed rocks and tufts of grass" />
        <Image src={render_geo} alt="Two colored spheres inside eachother made out of an incomplete hexagonal net" />

        <h1>Scenery</h1>
        <Image src={render_meltingSun} alt="A cube filled ocean with a small mountain in the center and a melting, red sun" />
        <Image src={render_ballThing} alt="A metallic sphere inside a swirling metallic donut positioned in a red canyon with water at the bottom" />
        <Image src={render_horns4} alt="A wavy ocean with giant, glowing pink horns emerging at the horizon" />
        <Image src={render_spaceBall} alt="Two parallel planes made out of black goo with a white, glowing sphere in the distance" />
        <Image src={render_swordInTheWoods7} alt="A wide top-view of a dark forest with a sword stuck in a rock on a clearing with a blue glowing light above" />
        <Image src={render_mountain} alt="A mountain in water with a dark background and a roundish, glowing lantern above" />

        <h1>Computer Building Game</h1>
        <Image src={render_gpu7} alt="A cute, living GPU" />
        <Image src={render_gtx2} alt="A cute, living GTX" />
        <Image src={render_cooler} alt="A cute, living computer fan" />
        <Image src={render_family2} alt="An overview of the cute, living computer components" />
        <Image src={render_cuteRoom} alt="A pink themed room with a window and a workdesk" />
        
        <h1>Other</h1>
        <Image src={render_donut2} alt="A donut with blue glazing besides a filled glass of tea" />
        <Image src={render_factory} alt="A metallic blue monochrome view of a factory floor" />
        <Image src={render_factory2} alt="A metallic blue monochrome view of a factory floor" />
        
        <h1>Procedural Shaders</h1>
        <Image src={render_cheesepot} alt="An assortment of objects with a teapot made out of cheese in the focus" />
        <Image src={render_eyebowl} alt="A wooden bowl filled to the brim with eyeballs." />
      </div>
    </div>
  </div>
</BaseLayout>
